[flake8]
# Doc: https://flake8.pycqa.org/en/latest/user/configuration.html
# E203: whitespace before ':' (black does not add whitespace)
# W503: line break before binary operator (black does not add line breaks)
# F403: 'from module import *' used; unable to detect undefined names
# F401: module imported but unused
# E501: line too long (88 > 79 characters)
# E402: module level import not at top of file
# E731: do not assign a lambda expression, use a def
# E741: do not use variables named 'l', 'O', or 'I'
# E722: do not use bare 'except'
# E203: whitespace before ':'
# E266: too many leading '#' for block comment
# E501: line too long (88 > 79 characters)
# E722: do not use bare 'except'
# E741: do not use variables named 'l', 'O', or 'I'
# W503: line break before binary operator
# W504: line break after binary operator
# W605: invalid escape sequence '\.'
# F403: 'from module import *' used; unable to detect undefined names
# max-complexity: McCabe complexity
# extend-ignore: ignore additional errors
# max-line-length: max line length
# select: select errors and warnings
# ignore: ignore errors and warnings

max-line-length = 88
extend-ignore = E203, W503, F403, F401, E501, E402, E731, E741, E722, E203, E266, E501, E722, E741, W503, W504, W605, F403
max-complexity = 18
select = B,C,E,F,W,T4,B9
